.announcement__form{
    display: grid;
    gap: 10px;

    padding: 15px;

    min-width: 300px;

    border: 2px solid gray;
    border-radius: 5px;

        &-imput{
            width: 100%;

            padding: 5px 10px;

            border: 1px solid gray;
            border-radius: 5px;

            resize: vertical;

            &-header{
                position: relative;
                margin-top: 0;
                margin-bottom: 5px;

                width: max-content;

                &.required::before{
                    content: "*";

                    position: absolute;
                    top: 0px;
                    right: -10px;

                    color: red;
                    font-size: 16px;
                }
            }

            &-title{
                min-height: 80px;
                max-height: 200px;
            }

            &-text{
                min-height: 150px;
                max-height: 350px;
            }

            &-length{
                margin: 0;

                font-size: 12px;
                color: gray;
                text-align: right;                
            }
        }

        &-title{
            margin: 0;

            font-size: 20px;
            font-weight: 700;

            text-align: center;
        }

        &-required{
            margin: 0;

            & span{
                color: red;
            }
        }

        &-submite{
            padding: 15px 0;

            border: none;
            border-radius: 35px;

            color: #ffffff;
            font-weight: 700;
            text-transform: uppercase;

            background: blue;            
            box-shadow: 0px 1px 2px 0px blue;
            transition: box-shadow 0.2s;

            &:hover{
                box-shadow: 0 0 0 0;
            }
        }
}

.wrapper__input-phone-city{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    .announcement__form-imput{
        width: 150px;

        @media (max-width: 360px){
            &{
                width: 100%;  
                
                &-wrapper{
                    width: 100%;   
                }
            }
        }
    }
}